header {
    background-image: url('images/landing-page7.jpg');
    height: 500px;
    
}
a {
 text-decoration: none;
 color: black;
}
.button{
    background-color: darkgrey;
}
.name {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
}
.photo {
    padding-left: 45%;
}
.text {
    padding-left: 40%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects {
    text-align: center;
    color: white;
    padding-left: 30%;
}
.f1 {
    font-size: x-large;
}
